{{!-- PARTIAL FOR PROJECTS --}}
<article class="project">
    <div class="title">
        <a href="/project/{{id}}">{{ title }}</a>
    </div>
    <p>
        by: {{ user.username }}
    </p>
    <p>
        {{ description }}
    </p>

</article>