{{!-- PARTIAL FOR PROJECTS --}}
<article class="project">
    <div class="title">
        <h2>
            {{ title }}
        </h2>
    </div>
    <h2>
        {{ user.username }}
    </h2>
    <p>
        {{ description }}
    </p>
</article>