<form class="edit-project-form">
    <div>
        <label for="edit-project-title">Title:</label>
        <input type="text" name="edit-project-title" id="edit-project-title" value="{{project.title}}">
    </div>
    <div>
        <label for="edit-project-description">Description:</label>
        <textarea name="edit-project-description" id="edit-project-description">{{project.description}}</textarea>
    </div>
    <div class="project-value">
        {{!-- RADIO BUTTON? --}}
        <p>Project Status:</p>
        {{!-- <input type="checkbox" name="project-status" id="close"> Close project --}}
        {{!-- <input type="radio" name="project-status" id="open" value="0" checked>OPEN
        <input type="radio" name="project-status" id="closed" value="1">CLOSED --}}
    </div>

    <div>
        <button type="submit" class="btn">SAVE</button>
        <button class="delete-btn btn">DELETE</button>
    </div>
</form>

<script src="/javascript/edit-project.js"></script>
<script src="/javascript/delete-project.js"></script>