<form class="edit-project-form">
    <div>
        <label for="edit-project-title">Title:</label>
        <input type="text" name="edit-project-title" id="edit-project-title" value="{{project.title}}">
    </div>
    <div>
        <label for="edit-project-descriptionShort">Short Description</label>
        <textarea name="edit-project-descriptionShort" id="edit-project-descriptionShort">{{project.descriptionShort}}</textarea>
    </div>
    <div>
        <label for="edit-project-descriptionLong">Full Description</label>
        <textarea name="edit-project-descriptionLong" id="edit-project-descriptionLong">{{project.descriptionLong}}</textarea>
    </div>

    <div>
        <button type="submit" class="btn">SAVE</button>
        <button class="delete-btn btn">DELETE</button>
    </div>
</form>

<script src="/javascript/edit-project.js"></script>
<script src="/javascript/delete-project.js"></script>