{{!-- CREATE NEW PROJECT FORM --}}
<section>
  <h2>Create New Project:</h2>

  <form class="new-project-form">
    <div>
      <label for="project-title">Title:</label>
      <input type="text" id="project-title" name="project-title" />
    </div>

    <div>
      <label for="project-description">Description:</label>
      <input type="text" name="project-description" id="project-description" />
    </div>

    <button type="submit" class="btn">Create!</button>
  </form>
</section>

<section>
  <h2>My Projects:</h2>
  {{#each projects as |project|}}
    {{> project-info project }}
  {{/each}}
</section>

<section>
  <h2>Voted Projects:</h2>
  {{#if user.projects.length }}
    <ol>
      {{#each user.projects as |project| }}
      <li>
        {{> project-info project }}
      </li>
      {{/each}}
    </ol>

  {{else}}
  <p>
    No upvoted projects!
  </p>
  {{/if}}
</section>

<script src="/javascript/add-project.js"></script>