<section>
  <h2>Voted Projects:</h2>
  {{#if votes.length }}
    <ol>
      {{#each votes as |vote| }}
      <li>
        {{> project-info vote.project }}
      </li>
      {{/each}}
    </ol>

  {{else}}
  <p>
    No upvoted projects!
  </p>
  {{/if}}
</section>