{{!-- CREATE NEW PROJECT FORM --}}
<section>
  <h2>Create New Project:</h2>

  <form class="new-project-form">
    <div>
      <label for="project-title">Title:</label>
      <input type="text" id="project-title" name="project-title" />
    </div>
    {{!-- Add text area for short description, include separate paragraph to describe text area --}}
    <div>
      <label for="project-descriptionShort">Describe your pitch in just one concise sentence:</label>
      <input type="text" id="project-descriptionShort" name="project-descriptionShort" />
    </div>
    {{!-- Add separate paragraph to describe text area --}}
    <div>
      <label for="project-descriptionLong">Describe youre pitch in more detail:</label>
      <input type="text" name="project-descriptionLong" id="project-descriptionLong" />
    </div>

    <button type="submit" class="btn">Create!</button>
  </form>
</section>

<section>
  <h2>My Projects:</h2>
  {{#each projects as |project|}}
    {{> project-info project }}
  {{/each}}
</section>

<section>
  <h2>Voted Projects:</h2>
  {{#if user.projects.length }}
    <ol>
      {{#each user.projects as |project| }}
      <li>
        {{> project-info project }}
      </li>
      {{/each}}
    </ol>

  {{else}}
  <p>
    No upvoted projects!
  </p>
  {{/if}}
</section>

<script src="/javascript/add-project.js"></script>