{{!-- HOMEPAGE --}}
{{#if loggedIn }}

<ol>
    {{#each projects as |project|}}
        <li>
            {{> project-info project}}
        </li>
    {{/each}}
</ol>

{{else}}

<div class="splash">
    <h2>
        Welcome to Pitchr!
    </h2>
    <p>
        Please login or sign up to get started!
    </p> 
    <a href="/login">LOGIN / SIGNUP</a>
</div>

{{/if}}