{{!-- HOMEPAGE --}}
{{!-- {{#if loggedIn }} --}}

<ol>
    {{#each projects as |project|}}
        <li>
            {{> project-info project}}
        </li>
    {{/each}}
</ol>

{{!-- {{else}} --}}

<h2>
    YOU MUST LOG IN BEFORE ACCESSING PITCHR
    {{!-- add link to login page --}}
    <a href="/login">LOGIN</a>
</h2>

{{!-- {{/if}} --}}