{{!-- LOGIN PAGE --}}



<div class="card mt-4 p-2 justify-content-center mx-auto col-5">
    <div class="justify-content-center text-center p-6">
        <div class="welcome">
            <p><em>Welcome back!</em></p>
        </div>
        <h3>Login</h3>
    </div>
    {{!-- LOGIN FORM --}}
    <div class="justify-content-center text-left p-3">
        <form class="login-form">
            <div class="form-group">
                <label for="email-login">Email address</label>
                <input type="email" id="email-login" class="form-control" placeholder="Enter email address"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password-login" class="form-control" placeholder="Password" autocomplete="off" />
            </div>
            <br>
            <div class="button d-flex justify-content-center text-center">
                <button type="submit" class="btn btn-primary">LOGIN</button>
            </div>
        </form>
    </div>
</div>

    {{!-- SIGN UP FORM --}}
<div class="card p-2 mt-4 justify-content-center mx-auto col-5">
    <div class="welcome justify-content-center text-center">
        <p><em>Not a member yet?</em></p>
        <h3>Sign Up</h3>
    </div>
    <div class="justify-content-center text-left p-4">
        <form class="signup-form">
            <div class="form-group">
                <label for="username-signup">Username</label>
                <input type="text" id="username-signup" class="form-control" placeholder="Create a username"/>
            </div>
            <div class="form-group">
                <label for="github-signup">GitHub username</label>
                <input type="text" id="github-signup" class="form-control" placeholder="Enter your github username"/>
            </div>
            <div class="form-group">
                <label for="email-signup">Email</label>
                <input type="email" id="email-signup" class="form-control" placeholder="Enter your email" />
            </div>
            <div class="form-group">
                <label for="password" class="">Password:</label>
                <input type="password" id="password-signup" class="form-control" placeholder="Create a password"autocomplete="off" />
            </div>
            <br>
            <div class="button d-flex justify-content-center text-center">
                <button type="submit" class="btn btn-primary">SIGN-UP</button>
            </div>
        </form>
    </div>
</div>

{{!-- SCRIPT FOR LOGIN LOGIC public/javascript/login.js --}}
<script src="/javascript/login.js"></script>