{{!-- USER PROFILE CARD --}}


{{!-- USER CREATED PROJECT LIST --}}
{{!-- EACH PROJECT SHOULD HAVE EDIT/DELETE BUTTON --}}
{{!-- EDIT BUTTON REDIRECTS TO EDIT-PROJECT PAGE --}}
{{!-- DELETE BUTTON USES DELETE-PROJECT.JS --}}

<section>
  <h2>Create New Project:</h2>

  <form class="new-project-form">
    <div>
      <label for="project-title">Title:</label>
      <input type="text" id="project-title" name="project-title" />
    </div>

    <div>
      <label for="project-description">Description:</label>
      <input type="text" name="project-description" id="project-description" />
    </div>

    <button type="submit" class="btn">Create!</button>
  </form>
</section>

<section>
  <h2>My Projects:</h2>
  {{#each projects as |project|}}
    {{> project-info project }}
    <div>
      <a href="/favorites/edit-project/{{id}}" class="btn col-12">
        EDIT
      </a>
    </div>
  {{/each}}
</section>

<script src="/javascript/add-project.js"></script>
<script src="/javascript/delete-project.js"></script>