{{!-- Project card --}}
{{> project-info project }}
<div class="d-flex justify-content-center">
    <button class="upvote-btn btn col-12 col-md-4"><i class="bi bi-hand-thumbs-up"></i> Upvote</button>
</div>

{{!-- Form for adding new comment --}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>

{{!-- List of all past comments --}}
<div class="comments">
    {{> comments project.comments }}
</div>

<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
